/**** GLOBAL STYLES ****/

html {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: #F8F8F8
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: #5271FF;
  text-decoration: none;
}


/**** MENU STYLES ****/

/* MAnages the sidebar container */
.menu-sidebar {
  background-color: #FFF;
  padding-top: 4em;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  float: right;
}

/* Manages the links in the sidebar */
.menu-sidebar a {
  padding: .5em;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* Manages the colours of the links in the sidebar */
.menu-sidebar a:hover, .offcanvas a:focus {
  color: #2eb2ff;
}

/* Manages properties of the close button in the sidebar */
.menu-sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

/* Manages the display of the menu in mobile devices */
@media screen and (max-height: 450px) {
  .menu-sidebar {
    padding-top: 15px;
  }
  .menu-sidebar a {
    font-size: 18px;
  }
}


/**** SITE HEADER ****/

/* Manages the logo container */
#site-logo {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

/* Manages the header container*/
#site-header {
  background-color: #FFF;
  color: #5271ff;
  padding: 10px;
  max-height: 25%;
}

.header-c1 a {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #5271ff;
  left: 0;
  top: 0;
}

.header-c2 {
  text-align: center;
  font-weight: bold;
}

.header-c3 {
  position: absolute;
  padding-top: 10px;
  padding-right: 10px;
  right: 0;
  top: 0;
}


/**** RESUME STUFF: Container 1 ****/

#cont-1 {
  border: 1px solid red;
  padding: 12px 0 0 0;
  margin: 0 25% 0 25%;
  text-align: center;
}

#user-pic {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

#pre-desc {
  font-style: italic;
  color: #5271ff;
}

#post-desc {
  font-weight: lighter;
  color: #181818;
}


/****
  RESUME STUFF: Container 2
  ****/

/* Background colours for containers. */
.clr-1 {
  background-color: #f9f9f9;
}

.clr-2 {
  background-color: #FFF;
}

#cont-2 {
  border: 1px solid red;
  /* Debug only*/
  overflow-x: auto;
  padding: 0 0 15px 0;
  margin-bottom: 0 0 10px 0;
}

/* Manages headers for sections inside the resumer container */
.h-cont {
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background: #5271ff;
  padding: 6px;
  margin: 0 10% 0 10%;
}

/* Manages the body for the containers in the resume container */
.t-cont {
  border: 1px solid red;
  padding: 10px 10% 0 10%;
  margin: 0;
}

/* Manages sub headings inside the body containers */
.t-head {
  margin: 0;
  font-family: serif;
  text-align: left;
  margin: 0 0 10px 0;
}

/* Manages content inside the body containers */
.blrb {
  font-style: normal;
}

/* Italics */
.it {
  font-style: italic;
  font-weight: lighter;
  text-align: justify;
  color: #8c8b8b;
}

/* Manages the fancy line break*/
.dv {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

.dv:after {
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

/* Manages the skill list styles */
.sk {
  list-style: none;
  margin: 0;
  padding: 0;
}

/****
SITE FOOTER
****/

#site-footer {
  border: 1px solid red;
  margin: 12px 0 0 0;
  position: relative;
  left: 0;
  bottom: 0;
  height: 8em;
  overflow: hidden;
  padding: 10px;
  background-color: #FFF;
  text-align: center;
}

#footer-cont {
  color: #5271ff;
}
